
.parallax-hero {
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  position: relative;
}

.hero-overlay {
  margin-top: auto;
  margin-bottom: 5rem;
  text-align: center;
  z-index: 5;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0.5rem;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #eee;
}


/* .cta-btn {
  background: white;
  color: black;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
} */

/* Responsive */
@media (max-width: 768px) {
  /* .nav-links {
    display: none;
  } */

  .hero-content h1 {
    font-size: 2.2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}
